<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
<appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
   
   <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="MailCredentialUserName" value="KSapCreation@gmail.com"/>
    <add key="MailFrom" value="KSapCreation@gmail.com"/>
    <add key="MailCredentialPassword" value="Parteek@12345"/>
    <add key="MailClientHost" value="relay-hosting.secureserver.net"/>
    <add key="SmtpPort" value="25"/>    
    <add key="EnquiryMailCc" value="KSapCreation@gmail.com"/>
  </appSettings>
   <system.net>
     <mailSettings> 
        <smtp deliveryMethod="network" from="KSapCreation@gmail.com"> 
          <network host="relay-hosting.secureserver.net" port="25" defaultCredentials="true" /> 
        </smtp> 
      </mailSettings> 
  </system.net>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument enabled="true">
      <files>
        <add value="sapcreation.com/Default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
